services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - MONGODB_URI=mongodb://db:27017/meow
      - SESSION_SECRET=$(bash -c 'echo $(head /dev/urandom | tr -dc A-Za-z0-9 | head -c 32)')
      - PORT=9000
      - LOG_LEVEL=info
      - NODE_ENV=production
      # Customization variables (optional)
      # - VITE_CUSTOM_APP_NAME=My Sales CRM
      # - VITE_CUSTOM_FAVICON_URL=https://example.com/favicon.svg
      # - VITE_CUSTOM_LOGO_URL=https://example.com/logo.svg
      # - VITE_CUSTOM_LOGO_ALT=My Company
      # - VITE_CUSTOM_THEME_COLOR=#1D1D1B
      # - VITE_CUSTOM_NAVIGATION_COLOR=#067BC2
    ports:
      - '3117:80'
    restart: always
    depends_on:
      - db
    networks:
      - internal
  db:
    image: mongo:8
    restart: always
    networks:
      - internal
  apprc:
    image: killiankopp/meow:1.5
    environment:
      - MONGODB_URI=mongodb://db:27017/meow
      - SESSION_SECRET=$(bash -c 'echo $(head /dev/urandom | tr -dc A-Za-z0-9 | head -c 32)')
      - PORT=9000
      - LOG_LEVEL=info
      - NODE_ENV=production
    ports:
      - '3118:80'
    restart: always
    depends_on:
      - db
    networks:
      - internal
networks:
  internal:
